{% extends "base.html" %}
{% load static %}

{% block title %}
Post
{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row d-flex flex-column align-items-center row-gap-2" id="post-el">
    </div>
    <div class="text-center mt-3 d-none" id="end-box">
        <button type="button" class="btn btn-primary" id="load-btn">Load More</button>
    </div>
</div>
<div class="d-flex align-items-center justify-content-center">
    <div class="spinner-border" id="spinner" role="status"></div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'posts_pro\main.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'posts_pro\style.css' %}">
{% endblock scripts %}



